@font-face {
    font-family: 'flimflam';
    src: url('fonts/flimflam.eot');
    src: url('fonts/flimflam.eot?#iefix') format('embedded-opentype'),
    url('fonts/flimflam.woff') format('woff');
    url('fonts/flimflam.ttf') format('truetype');
}

.custom-font{
    font-family:'flimflam';
}

html{
    height:100%;
}

body{
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
}

h1,h2,h3,h4,h5,h6{
    margin:5px;
}

hr{
    color:#cdcdce;
}

.search{
    position:absolute;
    top:8px;right:10px;
    float:right;
}

.search:before{
    font-family:'flimflam';
    content:'\e2ca';
}

.other:before{
    font-family:'flimflam';
    content:'\e600'
}

.header{
    color:#ffffff;
    background-color: #313232;
    height:50px;
    padding:15px;
}

.header *{
    margin-right:15px;
}

.input-container{
    position:relative;
    float:right;
}

.input-container input{
    background-color:#6d6d67;
    min-width:200px;
    border: 0px;
    height: 30px;
    padding: 0px 15px;
    color:#ffffff;
    transition: all .3s ease-in-out;
}

.input-container input:focus{
    min-width:250px;
    transition: all .3s ease-in-out;
}

.sub-header{
    background:url("http://api.flim-flamming.com/assets/images/bg-top@2x.jpg");
    position:relative;
    padding:15px
}


.sub-header h3{
    color:white;
}
.sub-header h4{
    color:#c2c0b6;
}

.application-mark{
    position:absolute;
    right: calc(50% - 90px);
    height: 90px;
    bottom: -18px;
}

.catalog{
    /*100% - height of header subheader footer and application mark adjustment and current padding 80px -90px -105px*/
    height: calc(100% - 326px);
    overflow:hidden;
    margin:50px 50px 0px 50px;
}

.products-container{
    overflow:auto;
    height: calc(100% - 50px);
}

.product{
   margin:15px;
   max-width:200px;
   flex:1 0 150px;
   -ms-flex: 1 0 150px;
   -webkit-flex: 1 0 150px;

}

.product img{
    margin:15px 0px;
}

.product div{
    margin-top:5px;
}

.item-name{
    color:#7ba2a9;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.item-number{
  color:#292929;
}

.item-description{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    font-style: italic;
    font-size: 14px;
}

.image-div{
    width: 100%;
    height:100%;
}
.product-image{
    max-width: 100%;
    max-height: 100%;
}
.price{
    margin-top:10px;
}

.price b{
  color:#9f3e37;
}

.unit{

    margin-left:10px;
}

.clamped {
    line-height: 1.5;
    overflow: hidden;
    position: relative;
}

.clamped-2 {
    /* Clamp to 2 lines, ie line-height x 2: */
    height: 3em;
}

.ellipsis {
    background: #fff;
    bottom: 0;
    position: absolute;
    right: 0;
}

.fill {
    background: #fff;
    height: 100%;
    position: absolute;
    width: 100%;
}

.footer{
    height:100px;
    border-top: 5px solid #AF9A65;
    background-color:#363737;
}





